* {
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px;
    background-color: rgb(179, 206, 232);
}

.library {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.read-books, .not-read-books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.header-title {
    font-size: 28px;
    font-weight: 500;
}

button {
    appearance: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.book {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: black solid 2px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    gap: 15px;
    width: 500px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="checkbox"] {
    align-self: flex-start;
}

input:invalid {
    border: 1px solid red;
    border-radius: 4px;
}

.close {
    background-color: #ffffff;
    color: #767676;
    padding: 0;
    margin-bottom: 5px;
    align-self: flex-end;
    justify-self: flex-end;
}

.error-msg {
    color: red;
}

.container-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}